* {
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  /* line-height: 1.5; */
  padding: 0;
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
}
.header {
  z-index: 1000;
  position: fixed;
  background-color: #579fe1;
  height: 40px;
  padding: 0;
  margin: 0;
  width: 100%;
}
.section {
  padding-top: 52px;
}
